.listBox{
    margin: 10px 0 10px 0;
}
.taskItem {
    display: flex;
    justify-content: space-between;
    height: 50px;
}
.taskItem:hover {
    background-color: #ccc;
}
.taskItem:hover .deleteBtn {
    display: block;
}
.task {
    margin-left: 3px;
}
.deleteBtn {
    display: none;
}