.App {
  text-align: center;
  & > .App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    & > .wrap {
      width: 50%;
      padding: 0 10px 10px 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
  }
}



